.ispecies{
	text-align: center;
}

#bhl li, #ncbi table, #ncbi li{
	text-align: left;
}

.ispecies img.loading{
	margin: 100px auto 80px auto;
}

ul.bhl-pages{
	display: none;
}

div.view-control-column ul.bhl-pages li:hover{
	border-color: #fff;
}

.view-item-bhl p{
	margin: 0;
}

.view-control-view .item-list ul.bhl-pages{
	margin: 2px 5px 7px 20px;
}

#google_scholar ul{
	text-align: left;
}

#google_scholar ul li{
	margin-bottom: 10px;
}

table#ncbi-sequence{
	margin-bottom: 20px;
	width: 90%;
	margin-left: 1px;
}

table#ncbi-sequence tbody{
	border: none;
}

table#ncbi-sequence th{
	padding: 4px 0 12px 0;
}

table#ncbi-sequence td{
	padding: 6px 0;
}

ul#elinks, ul#elinks li{
	margin: 0 0 0 8px;
	padding: 0;
	border-color: #fff;
}

ul#elinks{
	margin-bottom: 20px;
}

#view-controls-configure-form table#ncbi-sequence td, #view-controls-configure-form table#ncbi-sequence th{
	border:none;
}
