#views-live-preview #matrix-editor-panel{
  display: none;
}

#edit-fields-wrapper label,
#edit-fields-wrapper select,
#matrix-editor-fields-form input.form-submit{
	float: left;
}

#edit-fields-wrapper label{	
	width: 150px
}

#edit-fields-wrapper select{
  min-width: 200px;
             height: 100px
}

#matrix-editor-fields-form input.form-submit{
	margin: 0 0 0 30px
}

/* menu items as the top */
.option-links{
  background: #D8D8D8;
}

.option-links a.matrix-editor-toggle-advanced-options{
  background: url("../images/888888_7x7_arrow_right.gif") no-repeat 7px 5px;
  padding-left: 20px;
  padding-right: 30px;
  line-height: 30px;
  outline: none;
}

.option-links a.matrix-editor-toggle-advanced-options.expanded{
	background-image: url("../images/888888_7x7_arrow_down.gif")
}


.matrix-editor-view .matrix-editor-option{
 display: none;
  padding: 10px;
  background: #E6E6E6;
	border-color:#A0A0A0;
  border-style:solid solid none solid;
  border-width:1px;
}

/* Exposed filter form */
.matrix-editor-view .matrix-editor-option div.views-exposed-widget{
  clear: both;
  padding: 10px 0;
}

.matrix-editor-view div.views-exposed-widget label{
  width: 120px;
  display: block;
  float: left;
}

.matrix-editor-view div.views-exposed-widget div.views-operator{
  width: 250px;
  float: left;
}

.matrix-editor-view div.views-exposed-widget div.views-operator select{
  width: 230px;
}

.matrix-editor-view div.views-exposed-widget div.views-widget{
  width: 500px;
  float: left;
}

.matrix-editor-view div.views-exposed-widget div.views-widget .container-inline-date.date-clear{
  display: none;
}

.matrix-editor-view div.views-exposed-widget div.views-widget .container-inline-date label{
  width: 80px;
}

/* textfield widths */
.matrix-editor-view div.views-exposed-widget #edit-title{
  width: 332px;
}

.matrix-editor-view div.views-exposed-widget #edit-tid{
  width: 334px;
}

.matrix-editor-view div.views-exposed-widget #edit-uid-touch{
  width: 584px;
}

.matrix-editor-view div.views-exposed-widget div.buttons{
  display: block;
  margin-left: 120px;
}

.matrix-editor-view div.views-exposed-widget .date-views-filter-wrapper{
  display: none;
}

#exposed-filters-form{
  display: block;
}

