.scratchpadify-subgallery{
 border: solid 1px #ccc;
 margin: 1em 0;
 padding: 1em;
}
.scratchpadify-subgallery-details, .scratchpadify-subgallery-image{
 float:left;
}
.scratchpadify-subgallery-details{
 margin-left: 1em;
}
.view-id-image_thumbnails .view-content .views-field-title{
 width:100px;
 overflow:hidden;
 white-space:nowrap;
}
.view-id-image_thumbnails .view-content ul li{
 border: solid 1px #ccc;
 background:none;
 padding:1em;
 float: left;
}
.view-id-image_thumbnails .view-content ul:after{
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
.scratchpadify-terms{
 padding: 5px 0;
}
.scratchpadify-terms p{
 margin: 0;
 padding: 0;
}
.scratchpadify-block li{
 line-height: 130%;
 margin-top: 0 !important;
 padding-top: 0 !important;
 margin-bottom: 0 !important;
 padding-bottom: 0 !important;
}
.scratchpadify-block li .add-links{
 display:none;
 position:absolute;
 right:3px;
 top:0;
 z-index:1000;
}
.scratchpadify-block li .add-links img{
 padding:0 2px;
}
.scratchpadify-block li{
 position:relative;
}
.scratchpadify-block a.active{
 text-decoration:underline;
}
#block-scratchpadify-4{
 margin:0 !important;
 padding:0 !important;
}
#block-scratchpadify-4 div{
 background-color:#f5f5b5;
 color:black;
 display:block;
 margin:0;
 padding:0;
 padding-top:3px;
}
#block-scratchpadify-4 div .left{
 float:left;
 padding:0 0 0 10px;
 margin:0;
}
#block-scratchpadify-4 div .right{
 float:right;
 padding:0 10px 0 0;
 margin:0;
}
#block-scratchpadify-4 div .right img{
 padding:0;
 margin:0;
}
.scratchpadify-show-advanced{
 text-align:right !important;
}

/* Node relationship modal popup*/

/* Layout */

.noderelationships-noderef-page-content{
  width: 1100px!important;
}

div.noderelationships-noderef-multiselect{
  width: 400px;
  float:left;
}

div.noderelationships-noderef-multiselect div.fieldset-wrapper{
  overflow: visible!important;
}

div.noderelationships-noderef-multiselect-actions{
  float: none;
  margin-top: 30px;
  width: 390px;
}


.noderelationships-noderef-multiselect-items-list ul{
  width: 360px!important;
  height: 200px!important;
}


div.view-publication-noderefences{
  float: left;
  width: 600px;
  margin-left: 30px;
}

div.view-publication-noderefences .view-empty{
  color:#A30000;
  background-color:#FFCCCC;
  border:1px solid #A30000;
  padding: 10px;
  margin-top: 10px;
}

div.view-publication-noderefences .view-empty p{
  margin: 0;
}

div.view-publication-noderefences div.views-admin-links{
  width: 200px;
}

div.view-publication-noderefences table{
  width: 600px;
}

div.view-publication-noderefences table td{
  width: 150px;
}

#modalframe-container{
  width: 800px;
}

.view-publication-noderefences table.views-view-grid td{
  border: none;
  background-color: #fff!important;
}

.view-publication-noderefences table.views-view-grid td.noderelationships-noderef-selectable{
  border: 1px solid #ccc;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 5px;
  background-image:url('images/cross.png');
}

.view-publication-noderefences table.views-view-grid td.noderelationships-noderef-hover{
border:1px solid #c2e1ef;
color:#336699;
}

.view-publication-noderefences table.views-view-grid td.noderelationships-noderef-selected{
  background-image:url('images/tick.png');
}

/* Modal frame styling*/

.modalframe .ui-dialog-titlebar{
  border-width: 1px!important;
  border-color: #aaa!important;
  border-style: none none solid none!important;
}

.modalframe .ui-dialog-titlebar span{
  position: relative!important;
}

/* Overwrite some of the modal frame crap */
.modalframe .ui-dialog-titlebar a.ui-dialog-titlebar-close {
  top: 0.7em!important;
  background: url("images/888888_11x11_icon_close.gif") no-repeat scroll 0 0 transparent;
}

.modalframe .ui-dialog-titlebar a.ui-dialog-titlebar-close-hover, 
.modalframe .ui-dialog-titlebar a.ui-dialog-titlebar-close:hover {
background:url("images/454545_11x11_icon_close.gif") no-repeat scroll 0 0 transparent;
}

.ui-dialog-titlebar-close:active {
background:url("images/454545_11x11_icon_close.gif") no-repeat scroll 0 0 transparent;
}

.noderelationships-noderef-multiselect-items-list ul li div{
  background:#fff url("images/draggable_off.png") no-repeat 5px 5px!important;
  padding-left: 25px!important;
}

.noderelationships-noderef-multiselect-items-list ul li div:hover{
	background-image: url("images/draggable_on.png")!important;
}

.noderelationships-noderef-multiselect-ui-sortable-helper{
  padding-left: 25px!important;
  background: #fff;
}

.view-publication-noderefences .collapse-processed a{
  background:url("images/page_find.png") no-repeat 2px 2px!important;
}