.form-item{
 margin-top:0 !important;
}
#apply-form{
 padding:20px;
}
label{
 padding: 15px 0;
 width:400px !important;
 float:left;
 text-align:right;
 font-size:150%;
 font-weight:400 !Important;
}
input, textarea, select{
 width:400px !important;
 border:solid 1px #ccc;
 font-size:150%;
 padding:5px;
 margin:5px;
}
.description{
 text-align:center;
 display:none;
}
#edit-subdomain{
 width:250px !important;
}
.field-suffix{
 font-size:150%;
}
#edit-submit{
 border:solid 3px #ccc;
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
}
legend{
 font-size:150% !important;
 font-variant:small-caps;
}
fieldset, legend{
 border: solid 3px #ccc;
 padding:10px;
}
legend{
 background-color:white;
}
fieldset{
 background-image:url('bg.gif');
 -moz-border-radius:10px;
 -webkit-border-radius:10px;
}
.bt-content{
 font-size:100% !important;
}
