.partnersmapinstitution{
 background-color:red;
 position:absolute;
 width:7px;
 height:7px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}
.partnersmapinstitution:hover, #partnerswps li:hover{
 cursor:pointer;
}
#partnersimgdiv{
 float:right;
 height:597px;
 width:500px;
 padding:0;
 margin:0;
}
#partnersimg{
 position:absolute;
 top:0;
 right:0;
}
#partnersinfo{
 text-align:justify;
 float:left;
 margin-right:510px;
}
#partnersinfo .hidden{
 display:none;
}
#partnerswps{
 padding:10px 0 20px 0;
}
#partnerswps li{
 display:inline;
 padding:5px;
}