.divider {
 background-color:red;
}
.sort-div {
 height:110px;
 width:100px;
 overflow:hidden;
 border: solid 1px black;
 margin: 3px;
 float:left;
 font-size:80%;
}
.sort-div h1{
 display:inline;
 float:right;
 position:relative;
 top:0px;
}