/* $Id$ */

/**
 * Icons based on or taken from Agua Icons by David Lanham
 */

/* fileshare styles */
div#fs {
  padding: 10px 0 20px 0;
  position: relative;
}
  div#fs .loading {
    color: #999;
    text-decoration: blink;
    border: 1px solid #E6E6E6;
    background-color: #F2F2F2;
    }
  div#fs div.fs_nest {
    padding-left: 20px;
    }
  div#fs .fs_data {
    /* TO DO: can't seem to vertically align center this float */
    }
  div#fs i {
    position: absolute;
    right: 3.2em;
    font-style: normal;
    font-size: 0.8em;
    line-height: 2.4em;
    }
  div#fs b {
    position: absolute;
    right: 8em;
    font-weight: normal;
    font-size: 0.8em;
    color: #999;
    line-height: 2.4em;
    }
  div#fs div.fs_row {
    padding: 1px 10px;
    }
  div#fs div.fs_row:hover {
    background-color: #FFC;
    padding: 0px 9px;
    border: 1px solid #e0e095;
    }
  div#fs a.fs_closed, a.fs_open, a.fs_file, div.fs_file {
    padding: 1px 0 1px 40px;
    display: block;
    margin-right: 10em;
    _margin-right: 0em;
    overflow: hidden;
    }
  div#fs a.fs_closed {
    background: url(images/folder.gif) left no-repeat;
    }
  div#fs a.fs_open {
    background: url(images/folder_open.gif) left no-repeat;
    }
  div#fs a.fs_file, div#fs div.fs_file {
    background: url(images/file.gif) left no-repeat;
    }
  div#fs a.fs_doc {
    background: url(images/file-doc.gif) left no-repeat;
    }
  div#fs a.fs_xls {
    background: url(images/file-xls.gif) left no-repeat;
    }
  div#fs a.fs_pdf {
    background: url(images/file-pdf.gif) left no-repeat;
    }
  div#fs a.fs_zip {
    background: url(images/file-zip.gif) left no-repeat;
    }
  div#fs a.fs_delete {
    position: absolute;
    right: 10px;
    background: url(images/delete.gif) no-repeat center right;
    width: 13px;
    height: 1.8em;
    text-decoration: none;
    }
  div#fs a.fs_download {
    position: absolute;
    right: 30px;
    background: url(images/download.gif) no-repeat center right;
    width: 13px;
    height: 1.8em;
    text-decoration: none;
    }

/* fix spacing in K2 theme */
.primary .item .itemtext div {
  margin: 0;
  }
.primary .itemtext img {
  margin-left: 0px;
  padding: 0px;
  border: none;
  max-width: none;
  }