/* $Id: node_import.css,v 1.1 2006/09/15 12:24:34 robrechtj Exp $ */

.node_import-error {
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #F00;
  background: #FFC9C9;
  color: inherit;
}

.node_import-success {
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #0F0;
  background: #DFD;
  color: inherit;
}
