.scratchpadify-terms{
 padding: 5px 0;
}
.scratchpadify-terms p{
 margin: 0;
 padding: 0;
}
.scratchpadify-block li{
 line-height: 130%;
 margin-top: 0 !important;
 padding-top: 0 !important;
 margin-bottom: 0 !important;
 padding-bottom: 0 !important;
}