.scratchpadify-terms{
 padding: 0 10px;
}
.scratchpadify-terms li{
 text-decoration: underline;
}
.scratchpadify-terms li ul li{
 text-decoration: none;
}
.scratchpadify-terms li ul{
 padding: 0 5px;
}
.scratchpadify-block li{
 padding: 0;
 line-height: 110%;
}