.project-issue .summary{
 width:50% !important;
 padding:10px;
 border: 1px solid #EEEEEE;
 margin-bottom:10px;
}
.project-issue table{
 width:100% !important;
 border: none !important;
}
.project-issue table tr.odd{
 background-color:#f5f5f5;
}
.project-issue table tr.even{
 background-color:#f1fff1
}
.subboxcontent div.links{
 padding: 0 10px;
}
table.project-issue td{
 padding:3px 5px;
 border-left:solid 1px #eee;
 border-right:solid 1px #eee;
}
.content p{
 margin-bottom:8px !important;
}

.project-issue tr.state-1, .project-issue-status-1 a, .project-issue tr.state-1 td.active{
  /* ACTIVE */
  background-color:white !important;
}
.project-issue tr.state-13, .project-issue-status-13 a, .project-issue tr.state-13 td.active{
  /* NEEDS WORK */
  background-color:#FFC9C9 !important;
}
.project-issue tr.state-2, .project-issue-status-2 a, .project-issue tr.state-2 td.active{
  /* FIXED */
  background-color:#C0FFC0 !important;
}
.project-issue tr.state-17, .project-issue-status-17 a, .project-issue tr.state-17 td.active{
  /* FIXED - REQUIRES TESTING */
  background-color:#80b7ff !important;
}
.project-issue tr.state-4, .project-issue-status-4 a, .project-issue tr.state-4 td.active,
.project-issue tr.state-16, .project-issue-status-16 a, .project-issue tr.state-16 td.active,
.project-issue tr.state-15, .project-issue-status-15 a, .project-issue tr.state-15 td.active{
  /* POSTPONED (all types) */
  background-color:#DDDDFF !important;
}
.project-issue tr.state-6, .project-issue-status-6 a, .project-issue tr.state-6 td.active,
.project-issue tr.state-3, .project-issue-status-3 a, .project-issue tr.state-3 td.active,
.project-issue tr.state-5, .project-issue-status-5 a, .project-issue tr.state-5 td.active,
.project-issue tr.state-7, .project-issue-status-7 a, .project-issue tr.state-7 td.active{
  /* CLOSED (all types) */
  background-color:#C0FFC0 !important;
}