.project-issue .summary{
 width:50% !important;
 padding:10px;
 border: 1px solid #EEEEEE;
 margin-bottom:10px;
}
.project-issue table{
 width:100% !important;
 border: none !important;
}
.project-issue table tr.odd{
 background-color:#f5f5f5;
}
.project-issue table tr.even{
 background-color:#f1fff1
}
.subboxcontent div.links{
 padding: 0 10px;
