
.cell-title {
	font-weight: bold;
}

.cell-effort-driven {
	text-align: center;
}

.sort-asc {
	background: silver url('images/sort-asc.png') no-repeat right center !important;
}

.sort-desc {
	background: silver url('images/sort-desc.png') no-repeat right center !important;
}

.toggle {
	height: 9px;
	width: 9px;
	display: inline-block;
}		

.toggle.expand {
	background: url(../images/expand.gif) no-repeat center center;
}

.toggle.collapse {
	background: url(../images/collapse.gif) no-repeat center center;
}

#myGrid .cell-move-handle span{
  display: block;
  float: left;
  margin: 5px 0 0 10px;
}

#myGrid .cell-move-handle span.toggle{
  margin-left: 0;
}

/* from examples.css */

ul {
    margin-left: 0px;
    padding: 0px;
    cursor: default;
}

li {
    background: url("images/arrow_right_spearmint.png") no-repeat center left;
    padding: 0px;
    padding-left: 14px;
    list-style: none;
    margin: 0px;
} 




/* Grid styles */

#myGrid{
  background-color: #f8f8f8;
  border-color: #c0c0c0;
  border-width: 1px; 
  border-style: solid solid none solid;
}

#resizableWrapper{
  overflow: hidden;
}

#resizableWrapper .ui-resizable-handle{
  background: url('../images/resize_handle.png') no-repeat;
}

#resizableWrapper .ui-resizable-se{
  bottom: -1px;
  right: -2px;
  cursor:s-resize;
}

#resizableWrapper .ui-resizable-e{
  display: none!important;
}

#myGrid .ui-resizable-e{
display: block!important;
background: url('../images/header_resize_handle.png') no-repeat center left!important;
z-index: 300;
width: 11px;
}

#resizableWrapper .ui-resizable-s{
  background: none;
}


#myGrid .ui-resizable-se{
  bottom: 1px;
  right: 1px;
}

.loading{
  background: url('../images/preloader.gif') no-repeat 50%;
}


.main-data{
  background-color: #fff;
}




#myGrid div.h{
  background: #ebebeb url('../images/header_cells_bg.gif') repeat-x!important; 
  background-color: #f1f1f1;
  border-width: 1px;
  border-style: solid solid solid solid;
  border-color: #f8f8f8 #cfcfcf #cfcfcf #f8f8f8 !important;
  color: #333333;
  font-weight: normal;
  height: 22px;
  padding:1px 2px 2px 1px;
}

.editable div.h,
.editable #character-groups div.scroll div,
.editable .grid-canvas .r .c.cell-move-handle {
  cursor: pointer;
}

/* Increase the hover area */
#myGrid div.h span{
  padding: 0 10px;
}

#myGrid .grid-header, #myGrid div.h span{
  height: 28px;
} 

.grid-header .h, .grid-canvas .c{
  text-align: center;
}



/* Side */

#myGrid .side-header .r .c0,
#myGrid div.fixed-column-header{
  padding: 1px 0 2px 0;
  text-indent: 10px;
}

#myGrid div.fixed-column-header{
  cursor: auto!important;
}

#myGrid .side-header .r .c0 {
   text-align: left;
   border-width: 1px;
   border-style: solid solid solid solid;
   border-color: #f8f8f8 #cfcfcf #cfcfcf #f8f8f8 !important;
   font-weight: normal;
   cursor: default;
   margin-right: 1em;
}





/* Selected & hover cells */

.grid-canvas .r .cell-move-handle:hover, div.c0.selected {
background:#dadada;
border-color: #f8f8f8 #bcbcbc #bcbcbc #f8f8f8 !important;
}

.grid-canvas .r.selected .cell-move-handle{
  background: #EFEFEF;
}

.grid-canvas .r.selected, .selectedColumn{
  background: #edf3fe;
}

#myGrid .grid-header .h:hover{
background-image: url('../images/header_cells_bg_hover.gif')!important;
}

.grid-canvas .r .c.editable{
  border-color: #7dbe40;
}

.grid-canvas .r:hover{
  background-color: inherit;
}

#matrix-editor-panel{
  border: 1px solid #C0C0C0;
  min-height: 150px;
  background: #F8F8F8;
}










