#tui{
}
#tui-tree, #tui-form{
 width:49%;
}
#tui-tree{	
 float:left;
}
#tui-form{
 float:right;
}
#tui-tree-container{
 padding:5px;
 border:solid 1px #eee;
 margin:5px;
}
#tui-form-container{
 min-height:400px; 
 margin:5px;
 padding:0;
}
#tui-clear{
 clear:both;
}
#tui-form .form-textarea, #tui-form .form-text{
 width: 90% !important;
}
#tui-form .hidden{
 display:none;
}
#tui ul{
 padding:0;
 margin:0;
}
#tui li{
 padding-bottom:0;
}

.ui-tabs-panel{
 padding:0 !important;
}
.ui-tabs-panel > fieldset > legend{
 display:none;
}
.ui-tabs-panel > fieldset{
 margin:0;
 border:none;
}
.ui-tabs-panel fieldset{
 background:inherit;
}
.ui-tabs-nav li a{
 padding: 0.5em 1.0em !important;
 font-size: 80% !important;
}