#tui{
 position:relative;
 font-size:90%;
 line-height:150%;
}
#tui-tree-container, #tui-form-noform{
 padding:15px;
 border:solid 1px #eee;
 margin:5px;
 text-align:justify;
}
#tui-top-links{
 position:absolute;
 top:-30px;
 right:10px;
}

/* TREE */
#tui-tree-resize{
 position:absolute;
 top:0;
 right:0;
}
#tui-tree{ 
 width:40%;
}
#tui-tree{  
 float:left;
}
#tui-tree-container{
 padding:5px 0;
 position:relative;
}
#tui-tree ul, #tui-tree li, #tui-tree-links p{
 padding:0;
 margin:0;
}
#tui-tree li{
 padding-left:10px;
 background:none;
 list-style-type:none;
 overflow:hidden;
}
.tui-nodeleaf{
 width:9px;
 height:9px;
 margin:3px 7px 3px 3px;
 line-height:100%;
 padding:0;
 display:inline;
 background-repeat:no-repeat;
 background-position:50% 50%;
}
.tui-node-closed:hover, .tui-node-open:hover{
  cursor:pointer; 
}
.tui-node-closed{
 background-image: url('images/plus.gif');
}
.tui-leaf{
 background-image: url('images/leaf.gif');
}
.tui-node-open{
 background-image: url('images/minus.gif');
}
.tui-term:hover{
 cursor:move;
}
.tui-term.active.loading{
 padding-right:30px;
 background-image:url('images/loader.gif');
 background-repeat:no-repeat;
 background-position: 100% 50%;
}
.tui-term.active, .tui-added{
 background-color:#ffffea !important;
 border: solid 1px #999;
 padding:0;
}
.tui-added-original{
 color:blue;
 padding:0;
}
.ui-draggable-dragging{
 display:none;
}



/* TREE LINKS */
#tui-tree-links{
 position:absolute;
 top:3px;
 right:16px;
 text-align:right;
}
#tui-tree-links #dialog{
 display:none;
}


/* DIALOG */
#dialog p{
 font-size:150%;
 line-height:120%;
 padding:10px;
}
.ui-dialog-content{
 padding:0 !important;
 margin:0 !important;
}
#tui-dialog-term-name{
 padding-left:20px;
 font-weight:700;
}


/* FORM */
#tui-form textarea, #tui-form select{
 font-size:90%;
}
#tui-form{
 width:60%;
}
#tui-form{
 float:right;
}
#tui-form-container{
 margin:5px;
 padding:0;
}
#tui-form .form-text, #tui-form .resizable-textarea, #tui-form select{
 width: 95% !important;
}
#tui-form textarea{
 width:100%
}
#tui-form .hidden{
 display:none;
}
.ui-tabs-panel{
 padding:0 !important;
}
.ui-tabs-panel > fieldset > legend{
 display:none;
}
.ui-tabs-panel > fieldset{
 margin:0;
 border:none;
}
.ui-tabs-panel fieldset{
 background:inherit;
}
.ui-tabs-nav li a{
 padding: 0.5em !important;
 font-size: 80% !important;
}
.ui-tabs-panel > fieldset, #tui-tree-container, #tui-form-noform{
 -moz-box-shadow: 2px 2px 2px #999;
 -webkit-box-shadow: 2px 2px 2px #999;
 box-shadow: 2px 2px 2px #999;
}
