#tui{
 font-size:90%;
}
#tui-form textarea, #tui-form select{
 font-size:90%;
}
#tui-tree, #tui-form{
 width:49%;
}
#tui-tree{	
 float:left;
}
#tui-form{
 float:right;
}
#tui-tree-container{
 padding:5px;
 border:solid 1px #eee;
 margin:5px;
}
#tui-form-container{
 min-height:700px; 
 margin:5px;
 padding:0;
}
#tui-clear{
 clear:both;
}
#tui-form .form-text, #tui-form .resizable-textarea, #tui-form select{
 width: 95% !important;
}
#tui-form textarea{
 width:100%
}
#tui-form .hidden{
 display:none;
}
#tui-tree ul, #tui-tree li{
 padding:0;
 margin:0;
}
#tui-tree li{
 padding-left:10px;
 background:none;
}

.ui-tabs-panel{
 padding:0 !important;
}
.ui-tabs-panel > fieldset > legend{
 display:none;
}
.ui-tabs-panel > fieldset{
 margin:0;
 border:none;
}
.ui-tabs-panel fieldset{
 background:inherit;
}
.ui-tabs-nav li a{
 padding: 0.5em !important;
 font-size: 80% !important;
}
.ui-tabs-panel > fieldset, #tui-tree-container{
 -moz-box-shadow: 3px 3px 3px #999;
 -webkit-box-shadow: 3px 3px 3px #999;
 box-shadow: 3px 3px 3px #999;
}
