#nexus-state-wrapper{
  display:none;
}


#nexus-note-form #character-info{
  float: left;
  width: 200px;
}

#nexus-note-form fieldset{
  margin-left: 420px;
}

.nexus-note{
  background: url('../images/note.png') no-repeat top right;
}

#_flexselect{
	width: 100%;
	height: 100%;
	border: 0px;
	margin: 0px;
	background: transparent;
	outline: 0px; 
	padding: 0px;
	padding-top: 3px;
}

#nexus-note-form{
  display:none;
}

.grid-canvas .hidden{
background: #ccc;
}

.hidden-row .c{
  background: #ccc;
  color: #999;
}

.selectedColumn{
  background-color:#F5F7D7;
}

.hideCols .hiddenColumn{
  display: none;
}

.hiddenColumn{
    background: #ccc;
}

/* This is used to display columns hidden in the head */
#myGrid .unhiddenColumn{
  display:block;
  background: #fff;
}



/* Project form dynamic form */
.nexus-dynamic-options{
  display: none;
}


/**************** forms ******************/

/* character form */

#add-character{
  text-align: right;
}

/* Project form dynamic form */
.nexus-dynamic-options{
  display: none;
}


#edit-new-group-wrapper{
  display: none;
}




.ui-widget{
  font-size: 1em;
}

.grid-header{
  height: 30px;
}

.grid-header div.h{
  border-top-width: 5px;
  height: 24px;
}

span.group{
height: 3px;
display: block;  
}

.grid-header span.even{
  background-color: orange;
}

.grid-header span.odd{
  background-color: yellow;
}

