/* Projects page */

ul#nexus-projects li{
  list-style: none; 
  background: none;
  padding: 0;
}

ul#nexus-projects li p{
  margin: 0;
}

ul#nexus-projects li div.body{
  margin: 0.5em 0;
}

ul#nexus-projects p.controls span{
  margin-right: 1em;
}