BODY { 
      font-family:Verdana, Arial, Helvetica, sans-serif; 
      background-color:#ffffff; 
      margin:0; 
      padding:0; 
      font-size:small;  }
#content { 
          margin:25px;  }
LI.kadov-Icontent {  }
H1 { 
    font-size:16px; 
    font-weight:bold; 
    color:#006699; 
    font-family:Verdana, Arial, Helvetica, sans-serif;  }
LI.kadov-H1 { 
             font-size:16px; 
             font-weight:bold; 
             color:#006699;  }
H2 { 
    font-size:14px; 
    font-weight:bold; 
    color:#006699; 
    font-family:Verdana, Arial, Helvetica, sans-serif;  }
LI.kadov-H2 { 
             font-size:14px; 
             font-weight:bold; 
             color:#006699;  }
H3 { 
    font-size:12px; 
    font-weight:bold; 
    font-style:normal; 
    color:#004D71; 
    font-family:Verdana, Arial, Helvetica, sans-serif;  }
LI.kadov-H3 { 
             font-size:12px; 
             font-weight:bold; 
             font-style:normal; 
             color:#004D71;  }
H4 { 
    font-weight:bold; 
    font-size:12px; 
    font-family:Verdana, Arial, Helvetica, sans-serif;  }
LI.kadov-H4 { 
             font-weight:bold; 
             font-size:12px;  }
H5 { 
    font-weight:bold; 
    font-size:10px; 
    font-family:Verdana, Arial, Helvetica, sans-serif;  }
LI.kadov-H5 { 
             font-weight:bold; 
             font-size:10px;  }
H6 { 
    font-weight:bold; 
    font-size:12px; 
    font-family:Verdana, Arial, Helvetica, sans-serif;  }
LI.kadov-H6 { 
             font-weight:bold; 
             font-size:12px;  }
P { 
   color:#000000; 
   font-size:small; 
   font-family:Verdana, Arial, Helvetica, sans-serif;  }
LI.kadov-P { 
            color:#000000; 
            font-size:small;  }
img { 
     margin:2px; 
     vertical-align:middle;  }
img.normal { 
            margin:2px; 
            vertical-align:default;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              text-decoration:none none none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
A.dropspot { 
            cursor:hand; 
            color:#008000; 
            font-style:italic; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            text-decoration:none none none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
table { 
       background-color:#F4FDFF; 
       border:1px solid #0099CC; 
       border-collapse:collapse;  }
th { 
    border-bottom:1px solid #0099CC; 
    background-color:#BBE9FF; 
    font-size:13px;  }
td { 
    border:1px dotted #0099CC; 
    padding:3px;  }
ul li { 
       margin-bottom:5px;  }
.caption { 
          font-size:11px; 
          font-style:italic; 
          color:#4F4F4F; 
          margin-top:0;  }
LI.kadov-Ccaption { 
                   font-size:11px; 
                   font-style:italic; 
                   color:#4F4F4F;  }
.note { 
       background-color:#F4FDFF; 
       border:1px solid #0099CC; 
       font-style:italic; 
       display:block; 
       width:500px; 
       padding:2px;  }
LI.kadov-Cnote { 
                font-style:italic;  }
a:link { 
        x-text-underline:normal; 
        text-decoration:underline;  }
a:visited { 
           x-text-overline:off; 
           x-text-line-through:off; 
           color:#ff0000; 
           x-text-underline:Off; 
           text-decoration:none none none;  }
a:hover {  }
a:active {  }
div.left { 
          float:left; 
          margin-right:5px; 
          text-align:center; 
          padding:2px; 
          vertical-align:default; 
          width:auto;  }
div.right { 
           float:right; 
           margin-left:5px; 
           text-align:center; 
           padding:2px; 
           vertical-align:default; 
           width:auto;  }
