.nodes-form{
 position:absolute;
 background-color:white;
 border:solid 1px black;
 padding:10px;
}
.nodes td:hover{
 background-color: #999999;
 background-image:url(click.gif);
 background-position:0 0;
 background-repeat:no-repeat;
}
.nodes-form .form-item{
 padding:0 0 5px 0;
}
.nodes td{
 border:solid 1px #ccc;
}