.nodes-form{
 position:absolute;
 background-color:white;
 border:solid 1px black;
 padding:10px;
}
.nodes td:hover{
 background-color: #999999;
 background-image:url(click.gif);
 background-position:0 0;
 background-repeat:no-repeat;
}
.nodes-form .form-item{
 padding:0 0 5px 0;
}
.nodes td,.nodes th{
 border:solid 1px #ccc;
}
.nodes tr.header{
 border:solid;
 border-color:black;
 border-width: 3px 1px;
}
#wrapper, #container{
 max-width:none !important;
}
.nodes{
 width:100%;
 background-color:white;
}
.nodes th{
 background-color:#333;
 color: #ddd;
 border-color:black;
}