/**************************** THEME THE PUBLICATION ************************/
.publication{
 text-align:justify;
 font-family:Times, TimesNR, Serif;
 font-size:110%;
 line-height:normal;
 border: solid 1px #eee;
 padding:20px;
}
.publication .title{
 text-align:center;
 font-size:200%;
 margin:30px;
}

.publication .authors{
 font-size:120%;
}
.authors .superscript{
 font-size:60%;
 vertical-align:top;
 margin:0 0 5px 3px;
}
.publication .abstract{
 font-weight:600;
 font-size:120%;
 margin:10px;
 padding:30px;
}

.publication .section{
 padding:0 10px;
 margin:0 10px;
}
.publication .section h1{
 font-size:130%;
}
.og-mission{
 display:none;
}
.view-og-ghp-ron{
 display:none;
}
#publication-display-og-ron{
 text-align:right;
}
 

/**************************** ALL TABS & LAYOUT ****************************/


/* TABS */

#publication-tabs ul.ui-tabs-nav,
#taxa-tabs ul.ui-tabs-nav{
  margin: 0;
}

#publication-tabs ul.ui-tabs-nav li,
#taxa-tabs ul.ui-tabs-nav li{
  padding: 0;
  background: none;
  margin: 0;
}

.ui-tabs-nav{
  font-size: 0.9em!important;
}

.ui-tabs-panel{
  font-size: 1em!important;
}

/* FORM ELEMENTS */


/*  Node references  */

#publication-tabs fieldset{
  background: none;
  border-color: #D3D3D3;
  position: relative;
}

#publication-tabs legend{
 font-weight: 800; 
}

#publication-tabs legend.collapse-processed{
  font-weight: normal;
}

.publication-noderef table.content-multiple-table,
.publication-noderef input.noderelationships-nodereference-add-more{
  display: none!important;
}

.content-add-more{
  width: 530px;
  float: right;
}

div.view-publication-display ul li{
  padding-left: 0; 
  background: none;
  margin: 3px 0 3px 6px;
}


/* Node references add more buttons */
.content-add-more{
  text-align: right;
}

.content-add-more .noderelationships-nodereference-multi-button{
  width: auto;
  padding: 3px 10px 7px 30px;
  text-decoration: none;
}

.content-add-more a{
   display:block;
   float:right;
   margin:0 7px 0 0;
   background-color:#f5f5f5;
   border:1px solid #dedede;
   border-top:1px solid #eee;
   border-left:1px solid #eee;
   font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
   font-size:100%;
   line-height:130%;
   color:#565656;
   cursor:pointer;
   padding:5px 10px 6px 30px!important; /* Links */
   color: #333;
   text-decoration: none;
   height: auto;
   font-weight: normal;
   background-repeat: no-repeat;
   background-position: 5px 5px;
}

.content-add-more a.create-field_publication_authors{
  background-image: url('../img/user_add.png'); 
}

#field-publication-authors-items a.noderelationships-nodereference-multi-button{
  background-image:url('../img/user_edit.png')!important;
}

.content-add-more a.create-field_publication_images{
  background-image: url('../img/image_add.png'); 
}

#field-publication-images-items a.noderelationships-nodereference-multi-button{
  background-image:url('../img/image_edit.png')!important;
}

.content-add-more a.create-field_publication_biblio{
  background-image: url('../img/book_add.png'); 
}

#field-publication-biblio-items a.noderelationships-nodereference-multi-button{
  background-image:url('../img/book_edit.png')!important;
}

.content-add-more a:hover{
  background-color:#dff4ff!important;
  border:1px solid #c2e1ef;
  color:#336699;
  text-decoration: none;
}




/* BUTTONS */

#buttons{
  clear: both;
}

/* TAXA */
.ahah-progress{
  clear: both;
  padding: 10px 0;
}

#edit-vocabulary-auto-select-wrapper{
    clear: both;
}



/* MODALS */
.ui-dialog-overlay{
  background: #000;
  opacity: 0.7;
}

.ui-dialog-container .ui-dialog-title{
  color: #333;
}




/**************************** INDIVIDUAL TABS ****************************/

/* METADATA */


/* TAXA */

#classification-names{
  clear: both;
}

/* PRIVACY */

/* BIBLIO */

div.view-display-id-page_1 ul li div{
  float: left;
  padding-right: 5px;
}

/* TERM FIELDS */

.term-fields{
  width: 450px;
}

.term-fields div.column{
  width: 225px;
  float: left;
}

/* IMAGES */

div#publication-images div.publication-image{
  background: none;
  position: relative;
  border: 1px solid #ccc;
  padding: 3px;
  float: left;
  margin-right: 10px;
}

div#publication-images div.publication-image:hover{
  border-color: red;
}

div#publication-images div.has-caption a{
  padding: 0;
}

div#publication-images div.has-caption span{
  position: absolute;
  top: 0;
  right: 0;
  background:#fff url('../img/note.png') no-repeat;
  width: 16px;
  height: 16px;
}


/* SECTIONS */
#sections #publication-draggable-section a.modal{
  margin-right: 7px;
}

#sections #publication-draggable-section span.manuscript-name{
  border-bottom: 1px dashed #999;
}

tr.taxon-description a.tabledrag-handle{
  display: none;
}

#sections #publication-draggable-section tr.taxon-description,
#sections #publication-draggable-section tr.taxon-section{
  background-color:#dff4ff!important;
  border:1px solid #c2e1ef;
  color:#336699;
}

#sections #publication-draggable-section tr.taxon-description ul{
  margin-left: 0;
}

#sections #publication-draggable-section tr.taxon-description ul li{
  list-style: none;
  background: none;
  float: left;
  padding: 0 7px 0 0;
  margin: 0;
  font-size:0.85em;
  color:#898989;
}

#sections #publication-draggable-section tr.section{
  background-color: #EDF5FA!important;
  border:1px solid #D3E7F4;
}



tr.taxon-description td.section-title span.title,
tr.taxon-description td.section-title div.term-fields-list{
  padding-left: 1.5em;
  margin-left: 13px;
  float: left;
  width: 500px;
}

#add-section{
  margin: 15px 0;
}

#add-section p{
  margin: 4px 70px 4px 0;
  text-align: center;
}


/* CLEARFIX */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}


