@CHARSET "UTF-8";

/* CSS for slickgrid editors */

/* Node form editor */

/* Toggle button */

.node-form-editor{
  border: 1px solid #949494;
	display: inline-block;
	-moz-box-shadow: 3px 3px 3px #C0C0C0;
	-webkit-box-shadow: 3px 3px 3px #C0C0C0;
	z-index: 99999;
  padding: 10px;
  background: #F4F4F4;
}