@CHARSET "UTF-8";

/* CSS for slickgrid editors */

/* Node form editor */

/* Toggle button */

.slickgrid-toggle-node-form{
  background: url('../images/edit.png') no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: right;
}