

div.view-controls{
	position:absolute;
	top:0px;
	right:0px;
}



div.ajax-loading{
	text-align: center;
}


/* configure view form */

div.view-control-column table, #helper-table{
	width: 319px;
}

div.view-control-column, #drop-box-overlay{
	width: 355px;
}	

div.view-control-column{
	position: absolute;
	top: 20px;
}

#TB_window #visible{
	left: 30px;
}

#hidden{
	right: 0px;
}

#TB_window #hidden{
	right: 0;
}	

div.view-control-column ul.view-control-form-ul, div.view-control-column div.view-control-table{
	margin: 0 0 0 6px;
	padding: 0px;
	overflow-y: scroll;
	height: 400px;
}

div.view-control-column li{
	padding: 3px 0;
	margin: 2px 4px 2px 0;
	position: relative;
	z-index: 300;
	list-style: none;
}

div.view-control-column li, #view-controls-configure-form td{
	border: 1px solid;
	border-color: #ededed #fff;
}

div.view-control-column li:hover, #view-controls-configure-form tbody tr:hover{
	cursor: move;
	border-color: #999;
}

div.view-control-column table{
	height: 400px;
}

div.view-control-column table th{
	height: 20px;
}



div.view-control-column li.dummy-empty{
	height: 400px;
	padding: 0;
	border: none;
	margin: 1px 0 0 0;
}

div.view-control-column fieldset{
	background: #fff;
	padding: 0;
	margin: 0 2px 2px 2px;
}

div.view-control-column h3{
	margin: 3px;
	padding: 0;
	color: #333;
	font-size: 1em;
}

div.view-control-column .clearfix{
	display: none;
}


#visible, #visible fieldset, #hidden, #hidden fieldset{
	border-width: 1px;
	border-style: solid;
}

#visible li.ui-sortable-helper{
	padding: 0;
	margin: 0;
}

#visible, #visible fieldset{
	border-color: #80C65A;
}

#visible{
	background: #BFE2AC;
}


#hidden{
	background: #e6b7ad;
}

#hidden, #hidden fieldset{
	border-color: #d0634d;
}

tr.ui-draggable td, li.ui-sortable-helper{
	border-size: 1px;
	border-color: #999;
	border-style: solid none;
	z-index: 300;
}

tr.ui-draggable{
	background: #fff;
}

#hidden legend, #visible legend{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

div#configure-buttons{
	padding-top: 460px;
	margin-left: 30px;
}

div#configure-buttons input{
	margin-right: 10px;
}




/* tables */

/* need the hidden form part of the table row, but not being displayed */
td.hidden-form{
	display: none;
}

#drop-box-overlay{
	position: absolute;
	height: 428px;
	background: #000 url('../extras/backgrounds/drop.jpg') no-repeat center;
  filter:alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
	top: 0;
	left: 0;
	z-index: 140;
}

#view-controls-configure-form{
	position: relative;
	overflow: hidden;
}

#TB_ajaxContent{
	padding: 0!important;
}


#helper-table{
	visibility: hidden;
}

/* reset form */

#reset-form{
	margin: 20px 30px;
}

#reset-form h1{
	margin-bottom: 50px;
}

#reset-form div div.container-inline{
	margin-top: 15px;
}

#reset-form div div.container-inline input{
	margin-right: 10px;
}

.view-control-view .item-list ul, .view-control-view .item-list ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}


/* borders for panels */

div.panel-col{
	position: relative;
	top: 0;
	left: 0;
}

div.view-control_panel-skin-1{
	background: url('../extras/backgrounds/top-left.gif') no-repeat top left;
	height: 1%;
}


div.view-control_panel-skin-2{
	background: url('../extras/backgrounds/top-right.gif') no-repeat top right;
	padding-top: 12px;

}

div.view-control_panel-skin-3{
	background: url('../extras/backgrounds/bottom-left.gif') no-repeat bottom left;
	padding-left: 12px;
}

div.view-control_panel-skin-3 .panel-pane{
	background: url('../extras/backgrounds/bottom-right.gif') no-repeat bottom right;
	padding-bottom: 12px;
	padding-right: 12px;
}



div.view-control_panel-skin-3 .view-control-output{
	clear: both;
	margin-top: 10px;
}

div.view-control_panel-skin-1 .vc-size-1{
	width: 20px;
}

div.view-control_panel-skin-1 .vc-size-2{
	width: 40px;
}

div.view-control_panel-skin-3 div.view-controls{
	top: 0;
	right:0;
	background: #c2c2c2 url('../extras/backgrounds/view-control-right.gif') no-repeat top right;
	padding-right: 10px;
}


.panel-flexible .panel-col-first div.view-controls{
	right: 7px;
}

div.view-control_panel-skin-3 div.view-controls div{
	background: #c2c2c2 url('../extras/backgrounds/view-control-left.gif') no-repeat bottom left;
	height: 28px;
}

div.view-control_panel-skin-3 div.view-controls div a{
	position: relative;
	top: 6px;
	left: 4px;
	float: left;
	margin-left: 2px;
}

