#yahooimages div,.class-yahooimages div{
 float:left;
 margin: 2px;
 padding: 2px;
}
#yahooimages img{
 border:solid 1px black;
 padding:0;
 margin:2px;
}

.view-yahooimages p{
 height:95px;
 width:95px;
 padding:3px;
 float:left;
 border: solid 1px black;
 margin:3px;
}