/* $Id: webform.css,v 1.1.2.1 2008/01/23 04:28:59 quicksketch Exp $ */

.webform-submission-navigation {
  margin-top: -1.5em;
  text-align: right;
}
.webform-submission-next {
  margin-left: 20px;
}
