.ui-tabs-nav li a{
 padding: 0.5em 1.0em !important;
 font-size: 80% !important;
}
h1.spm{
 font-size:130%;
 border-bottom: solid 1px #ddd;
}
div.spm{
 margin-left: 30px;
 text-align: justify;
}
.mceStatusbar div{
  display: none;
}
td.mceIframeContainer{
  border-bottom-style: none!important;
}
.resizable-textarea{
  width: auto;
}
.mceStatusbar{
  background: #fff!important;
}