.bc.ctr,.bc.ctl,.bc.cbl,.bc.cbr{background-image:none !important}
.content.forum{padding:20px;}
.content.forum thead th,.content.forum th{padding:0 !important}
.content.forum tr.even td, .content.forum tr.odd td{border:none !important}
#euro-logos{position:absolute;right:20px;top:10px;padding:5px 3px 0 3px;background-color:white;opacity: 0.7;border: solid 1px black}
#euro-logos img{padding:0 5px;}
#euro-logos p{padding:0;margin:0;text-align:center}
.date-nav{background-attachment:fixed;background-color:#4B4B4B;background-image:url("../images/background-button.jpg");background-position:50% 0;background-repeat:no-repeat}
.date-nav *{color:white !important}
.calendar-calendar tr{background-color:transparent !important;}
td.empty{background-color:transparent !important;}