#block-remote_issue_block-0{
 position:fixed;
 top:10px;
 right:-390px;
 width:400px;
 background-color:white;
 border:solid 1px black;
 border-right:none;
 padding:0;
}
#block-remote_issue_block-0 > h2{
 display:none;
}
#block-remote_issue_block-0 .content{
 border-left:solid 1px black;
 margin:0 !important;
 margin-left:20px !important;
}
#block-remote_issue_block-0 .content p{
 padding:0;
 margin:0;
}