/* fixed height */

div.view-control-output{
	overflow: hidden;
	overflow-y: auto;
	height: 240px;
}

.rounded_corner .wrap-corner .r-edge {
padding:0 10px!important;
}

/* make the ajax loading image central */
div.ajax-loading img{
	margin: 100px auto 0 auto;
}

div.empty-text p, .view-empty p{
	text-align:center;
	padding-top:90px;
}

.view-control-view div.ispecies div.item-list ul, 
.view-control-view div.ispecies div.item-list ul li,
.view-control-view div.ispecies div.item-list ul li.leaf{
	list-style: none!important;
	background-image: url();
}


/* panel images */


div.panel-grid-image{
	border:1px solid #ccc;
	width:101px;
	height:101px;
	text-align:center;
	margin:3px 2px 0 0;
	vertical-align: middle;
}

#view-controls-configure-form div.panel-grid-image{
	float: none;
	margin: 0 auto;
}

div.panel-grid-image img{
	margin-top: 2px;
}

.clearing{
	clear: both;
}

/******************************** INDIVIDUAL PANELS *********************************/

/* yahoo & flickr */

#view-control-yahoo ul,
#view-control-images ul,
#view-control-flickr ul{
	width:330px;
	margin: 0 auto;
}

#view-control-yahoo .item-list ul li,
.view-control-form-yahoo li,
#view-control-images .item-list ul li,
.view-control-form-images li,
#view-control-flickr .item-list ul li,
.view-control-form-flickr li{
float: left;	
}

.view-control-form-yahoo li,
.view-control-form-images li,
.view-control-form-flickr li{
width: 101px;	
}


.view-control-form-yahoo div.view-control-column li,
.view-control-form-yahoo #view-controls-configure-form td,
.view-control-form-images div.view-control-column li,
.view-control-form-flickr div.view-control-column li,
.view-control-form-flickr #view-controls-configure-form td{
border: none;
}


.view-control-form-yahoo div.view-control-column li,
.view-control-form-flickr div.view-control-column li{
	padding: 0;
}

th.view-field-biblio-biblio-year{
	width: 75px;
}

/* GBIF Map */

img#gbif-map{
	width: 325px;
}


/* panels add content */

.panels-modal-content h3.panels-section-title{
	display: none;
}

.panels-modal-content .panels-section-decorator{
	margin-top: 20px;
}

#panels-add-content-config-form .option-text-aligner, #panels-edit-pane-config-form .option-text-aligner{
	margin: 50px 20px;
}

#panels-add-content-config-form .description, #panels-edit-pane-config-form .description{
	display: block;
	clear: both;
	padding: 20px;
}

#panels-add-content-config-form #edit-next, #panels-edit-pane-config-form #edit-next{
	
	margin: 50px 20px;
	
}

.panel-pane .admin-links{
	display: none!important;
}

div.view-control_panel-skin-3 #citation{
	clear: both;
}

/* clearfix */

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.clearfix {display: inline-block;}