@CHARSET "UTF-8";

#nexus-taxa label,.nexus-taxa-match {
	width: 300px;
}

.nexus-taxa-match {
	font-weight: bold;
	padding-right: 20px;
	background: url("../images/tick.png") no-repeat right;
}

#nexus-taxa label {
	float: left
}

#nexus-taxa .description {
	clear: left;
	padding-top: 7px;
}