.twitterscript{
 display:none;
}
.twitterscript-list li{
 list-style-image:none;
 list-style-type:none;
 margin:0;
 padding:0;
}
.twitterscript-list li img{
 padding:0;
 margin: 0 5px 0 0;
 float:left;
 width:18px;
 height:18px;
 border:solid 1px black;
}