#node-term-weight ul{
  padding: 10px 0;
}

#node-term-weight li{
  background: #F9F9F9;
  border: 1px solid #ccc;
  cursor: move;
}

#node-term-weight li.ui-sortable-helper{
  border-style: dotted;
}