/* $Id: tasks.css,v 1.3 2007/03/16 20:00:44 moonray Exp $ */

table#task-list {
  width:100%;
  margin-top:10px;
}

table#task-list td {
  padding:10px;
  border-bottom:1px solid #fff;
  background:#e0e0e0;
  border-right:1px solid #fff;
}

table#task-list tr.task-expand td {
  background: #eee;
  border-bottom: 10px #fff solid;
}

table#task-list th {
  padding:6px 10px 6px 10px;
  background:#ccc;
  border-bottom:1px solid #fff;
  font-size:10px;
}

#tasks-view-filter-form label {
  margin-bottom:-1.6em;
}

#tasks-view-filter-form .form-item, #tasks-view-filter-form input {
  display:inline;
  margin-bottom:0;
  vertical-align:bottom;
}

#tasks-filter div {
  text-align:right;
}

#completedate div {
  display:inline;
}
