.fixperms label{
	font-size: 150%;
}
.fixperms .description{
  font-size: 120%;
}
.fixperms fieldset{
 border:none !important;
 background:none !important;
 margin:0;
 padding:0;
}
.fixperms legend{
 display:none;
}
