#classification_list {
	margin-top:20px;
}

.tree_wrapper {
  border:0;
	float:left;
	width:49%;
	min-height:550px;
	height:auto;
	margin:0 5px 5px 0;
	_display:inline;
	overflow:hidden;
	}

/* IE hack for height */
* html .tree_wrapper {
	height: 550px;
}

.tree_wrapper div {
	margin:5px 0 0 0;
	padding:0;
	width:100%;
	overflow-x:auto;
	overflow-y:auto;
}

.clear {
  clear: both;
}

/* TREE LAYOUT */

.tree_checkbox {
  height:20px;
  width:20px;	
}

.tree ul {
	margin:0 0 0 5px;
	padding:0;
	list-style-type:none;
}

.tree li {
	display:block;
	min-height:18px;
	line-height:18px;
	padding:0 0 0 10px;
	margin:0 0 0 0;
	clear:both;
}

.tree li ul {
	display:none;
	clear:both;
}

.tree li a,
.tree li span {
	display:inline;
	float:left;
	line-height:16px;
	height:16px;
	padding:1px 4px 1px 4px !important;
	color:black;
	white-space:nowrap;
	text-decoration:none;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:4px 1px; 
	-moz-border-radius:3px;
	border:0;
	margin: 0px 0px 0px 0px;
}
.tree li a:hover, 
.tree li a.hover {
	background-image: none;
	background-color: #e7f4f9;
	border:1px solid #d8f0fa;
	padding:0px 3px 0px 3px !important;
	background-position:3px 0px; 
}
.tree li a.clicked,
.tree li a.clicked:hover,
.tree li span.clicked {
	background-image: none;
	background-color: #beebff;
	border:1px solid #99defd;
	padding:0px 3px 0px 3px !important;
	margin: 0px 0px 0px 2px;
	background-position:3px 0px; 
}
.tree li span.clicked {
	padding:0px 3px 0px 3px !important;
}

.tree li a input,
.tree li span input {
	margin:0;
	padding:0 0;
	height:14px;
	border:0px solid white;
	background:white;
	font-size:12px;
	font-family:Arial;
}
.tree li a input:not([class="xxx"]),
.tree li span input:not([class="xxx"]) {
	padding:1px 0;
}

.locked li a {
	color:gray;
}

/* FOR DOTS */
.tree ul {
	background:url("../jsTree/images/dot.gif") 6px 1px repeat-y;
}
.tree li {
	background:url("../jsTree/images/li.gif") 7px center no-repeat;
	list-style: none; /* IE7 fix*/
	list-style-image: none; /* IE7 fix*/
}
.tree li.last {
	background-color:white !important;
	background:url("../jsTree/images/lastli.gif") 5px top no-repeat;
}
/* NO DOTS */
.no_dots ul {
	background:transparent;
}
.no_dots li {
	background:transparent;
}
.no_dots li.last {
	background:transparent;
	background-color:transparent !important;
}

/* OPEN OR CLOSE */
.tree li.open {
	background:url("../images/tree_minus.gif") -2px 0px no-repeat;
}
.tree li.open ul {
	display:block;
	clear:both;
	list-style-type:none;
}
.tree li.closed {
	background:url("../images/tree_plus.gif") -2px 0px no-repeat;
}
.tree li.closed ul {
	display:none !important;
}


/* FOR DRAGGING */
.tree #dragged {
	padding:0 3px;
	margin:0;
	background:white;
	opacity: .85;
	filter: alpha(opacity=85);
	position:absolute;
	top:-10px;
	left:-10px;
}
.tree #dragged.last,
.tree #dragged:last-child {
	background:white;
}
.tree #dragged li.open {
	background:url("../jsTree/images/fplus.gif") 5px 5px no-repeat;
}
.tree #dragged ul ul {
	display:none;
}

/* HACKY-HACKY */
/* EXPLORER 7 */
*:first-child+html .tree li {
	margin-bottom:-2px;
} 
*:first-child+html .tree li ul {
	padding-bottom:2px;
	list-style-type: none;
}
/* EXPLORER 6 */
.tree li {
	_width:50%;
	_margin-bottom:-2px;
}
.tree li ul {
	_padding-bottom:2px;
	list-style-type: none;
}

/* 
 * FF & OPERA FIXES
.tree li:not([class="xxx"]) {
	margin-bottom:0px;
}
html:first-child .tree li {
	margin-bottom:0px;
}
.tree li ul:not([class="xxx"]) {
	padding-bottom:0;
}
html:first-child .tree ul {
	padding-bottom:0;
}
*/


/* RTL modification */
.rtl * {
	direction:rtl;
}
.rtl ul {
	margin:0 5px 0 0;
	list-style-type:none;
}
.rtl li {
	padding:0 15px 0 0;
}
.rtl li.last {
	background:url("../jsTree/images/lastli_rtl.gif") right top no-repeat;
}
.rtl li.open {
	background:url("../jsTree/images/fminus_rtl.gif") right 6px no-repeat;
}
.rtl li.closed {
	background:url("../jsTree/images/fplus_rtl.gif") right 4px no-repeat;
}
.rtl li a,
.rtl li span {
	float:right;
	padding:1px 23px 1px 4px !important;
	background-position:right 1px; 
	margin-right:1px;
}
.rtl li a:hover {
	background-color: #e7f4f9;
	border:1px solid #d8f0fa;
	padding:0px 23px 0px 3px !important;
	background-position:right 0px; 
	margin-right:0px;
}
.rtl li a.clicked,
.rtl li a.clicked:hover,
.rtl li span.clicked {
	background-color: #beebff;
	border:1px solid #99defd;
	padding:0px 23px 0px 3px !important;
	background-position:right 0px; 
	margin-right:0px;
}
.rtl li span.clicked {
	padding:0px 21px 0px 3px !important;
}
.rtl ul ul {
	background:url("../jsTree/images/dot.gif") right 1px repeat-y;
	list-style-type:none;
}
.rtl li {
	background:url("../jsTree/images/li.gif") right center no-repeat;
}
.rtl #dragged li.open {
	background-position: right 5px;
}

#classification_tree {
  height:500px;
}

#classification_tree_alternate {
	height: 400px;
}

/* Colors for name variants */
li.vernacular {
	  color:#228B22;
	  font-style:normal;
}

li.synonym {
	 color: #FF0000;
	 font-style:normal;
}

li.usage {
	 color: #FF0000;
	 font-style:normal;
}

li.lexical {
	 color: #FF0000;
	 font-style:normal;
}

li.disputed {
	 color: #FF0000;
	 font-style:normal;
}

li.spelling {
	 background: transparent url("../images/underline.gif") repeat-x scroll center bottom;
	 -moz-background-clip: -moz-initial;
	 -moz-background-origin: -moz-initial;
	 -moz-background-inline-policy: -moz-initial;
	 font-style:normal;
}

.form-item {
	margin-bottom:10px;
}

._leaf {
	list-style-type: none;
}

#classification_list {
	width:60%;
}

.classification_tree_panel {
  width:250px;
  float:right;	
}

.classification_tree_wrapper {
	min-height:345px;
}

.classification_tree_div {
  position:absolute;
  right:10px;
  width:230px;
  z-index:1000;
  min-height:345px;
}

#classification_tree_viewer {
   min-height:260px;
   height:260px;
}

.tree_wrapper_viewer {
  border:0 none;
  float:left;
  height:98%;
  margin:0 5px 0 0;
  overflow:hidden;
  width:100%;
}

.tree_wrapper_viewer div {
  margin:5px 0 0;
  overflow:auto;
  padding:0;
  width:100%;
}

.fc_tree {
  margin:20px 0;
  width:100%;
}

.c {
	background:#fff;
	border:4px solid #ccc;
	padding:6px 0;
}

.inner {
	background:#fff;
	padding:10px;
	text-align:center;
}

.inner ul {
	text-align:left;
}

.h {
	padding:0px;
	margin:0px;
	font-size:16px;
	color:#666;
	text-transform:uppercase;
}

.node-form {
	width:480px;
	float:left;
}

.front_page_links_expand {
	padding:0px;
	margin:0px;
	text-align:left;
	position:absolute;
	left:-10px;
	top:0px;
}

.front_page_links_expand li.expand {
  list-style-type:none;
  background:none;
  font-size:small;
  width:80px;
  display:none;
}

.front_page_links_expand li.contract {
  list-style-type:none;
  background:none;
  font-size:small;
  width:80px;
  display:none;
}

.front_page_links_expand li a {
	background:none;
	display: inline;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 24px;
	text-decoration:none;
}

.front_page_links_expand li.expand a {
	 background-image: url(../images/application_side_contract.png);
}

.front_page_links_expand li.contract a {
	 background-image: url(../images/application_side_expand.png);
}

.front_page_links {
	padding:0px;
	margin:0px auto;
	width:150px;
}

.front_page_links li {
	list-style:none;
	background:none;
	font-size:small;
}

.front_page_links li a {
	background:none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 24px;
}

.front_page_links li.classification a {
		background-image: url(../images/chart_organisation_add.png);
}