.mado_close{
 display:none;
 position:absolute;
 z-index:1000;
}
#mado_apply{
 text-align: left;
 clear: both;
}
#mado_apply p{
 font-size: 130%;
 font-weight: 600;
 text-align: center;
 font-family: Helvetica, Arial, sans-serif;
}
#mado_apply a{
 display:block;
 padding: 10px;
 margin: 10px;
 border: solid 1px #ccc;
 color: black;
 background-image: url('images/button.png');
 background-position: 50% 50%;
}
#divider{
 text-align: center;
 display:none;
 background-image: url('images/button.png');
 background-position: 50% 50%;
}
.mado-hidden{
 display:none;
}
.mado_block{
 margin: 1px;
 padding: 0 !important;
 overflow: auto;
 background-color:inherit;
 width:96%;
 float:left;
}
/* Half width blocks */
.mado_block_2{
 width:48%;
}
/* Sort */
.mado_sort {
 position:absolute;
 top: 5px;
 right: 10px;
 padding: 10px;
}
/* Within blocks */
.mado_scroll{
 height:300px;
}
.mado_content{
 margin: 0 0 0 5px;
 padding: 10px;
 overflow-y:auto;
}

/* Links */
.mado-links{
  display:block;
  width:100%;
  margin:0;
  display:hidden;
  text-align:right;
  background-color:#aaa;
  /*border-bottom: solid 1px #666;*/
}
.mado-links li a {
  color:black;
  text-decoration:underline;
}
.mado-links li{
  background-image:none;
  display:inline;
  padding:0 5px;
  margin:0;
}

/* Images */
.mado_images p,.mado_images h2,.mado_images span,.mado_images hr,.mado_images .clear-block{
 display:none;
}
.mado_images .content,.mado_images .node{
 display:inline;
 float:left;
}
.resize{
	display:block;
}
.resize img{
 padding-top:5px !important;
}
/***************************************************************
 * CURVY BOX
 ***************************************************************/
.bc  {position: relative;width: 8px;height: 8px;font-size: 1px;background-repeat: no-repeat;margin-bottom: -1px;z-index: 2;line-height: 0px;}
.ctr {float: right;background-image: url(images/ctr.gif);margin-right: -1px;margin-top: -1px;line-height: 0px;}
.ctl {float: left;background-image: url(images/ctl.gif);margin-left: -1px;margin-top: -1px;line-height: 0px;}
.cbr {float: right;background-image: url(images/cbr.gif);margin-right: -1px;margin-top: 1px;line-height: 0px;}
.cbl {float: left;background-image: url(images/cbl.gif);margin-left: -1px;margin-top: 1px;line-height: 0px;}
.boxtop {border-top: 1px #ccc solid;border-left: 1px #ccc solid;border-right: 1px #ccc solid;height: 8px;line-height: 0px;z-index:100;}
.boxbtm {border-bottom: 1px #ccc solid;border-left: 1px #ccc solid;border-right: 1px #ccc solid;height: 8px;line-height: 0px;z-index:100;}
.boxcontent{border-left: 1px #ccc solid;border-right: 1px #ccc solid;z-index:100;}
.subboxcontent{/*min-height: 50px;*/}
.subboxcontent .links {
  font-size: 80%;
}
.boxtitle-hover:hover{
  cursor:move;
}
.boxtitle{
  position: relative;
  top: -9px;
  height: auto;
  overflow: hidden;
  margin: 0px 0px 0 0px;
  background-image: url('images/header.gif');
}
.boxtitle ul{
	position:absolute;
	right:0;
	top:0;
	padding:0;
	margin:0 4px 0 0;
}
.boxtitle li,.boxtitle li a{
	display:inline;
	background-image:none;
	padding:0;
	margin:0;
	margin-right:4px;
	color:#999;
}
.boxtitle h1,.boxtitle-sticky h1{
	display:block;
	float:left;
  font-size: 110%;
  font-weight:800;
  padding: 5px 20px;
  margin: 0;
  line-height: 100%;
	color:333;
}